In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [3]:
df = pd.read_csv('titanicTransformed.csv')
df.head()

   Pclass  Sex       Age  SibSp  Parch      Fare  Cabin    C    Q    S
0     1.0  1.0  0.271174  0.125    0.0  0.014151    0.0  0.0  0.0  1.0
1     0.0  0.0  0.472229  0.125    0.0  0.139136    1.0  1.0  0.0  0.0
2     1.0  0.0  0.321438  0.000    0.0  0.015469    0.0  0.0  0.0  1.0
3     0.0  0.0  0.434531  0.125    0.0  0.103644    1.0  0.0  0.0  1.0
4     1.0  1.0  0.434531  0.000    0.0  0.015713    0.0  0.0  0.0  1.0